body{
	background:radial-gradient(#fff,#ccddff);
}
ul input{
	background:radial-gradient(black,white,red);
	text-decoration-color: white;
}

header ul{
	font-size: 10px;
	height: 10px;
	width: 10px;
}
.btn{
	display: inline-block;
	background:#ff523b;
	color: #fff;
	padding:8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.btn:hover{
	background:#563434;;
